<html>
<head>
  <meta charset="utf-8" />
  <title>FusionAuth OpenID and PKCE example</title>
  <link rel="stylesheet" href="/stylesheets/changebank.css" />
</head>
<body>
  <div id="page-container">
    <div id="page-header">
      <div id="logo-header">
        <img src="https://fusionauth.io/assets/img/samplethemes/changebank/changebank.svg" />
        <div class="h-row">
          <p class="header-email"><%= state.email %></p>
          <a class="button-lg" href="/logout"> Logout </a>
        </div>
      </div>

      <div id="menu-bar" class="menu-bar">
        <a class="menu-link" href="/change">Make Change</a>
        <a class="menu-link inactive" href="/account">Account</a>
      </div>
    </div>

    <div style="flex: 1;">
      <div class="column-container">
        <div class="app-container change-container">
          <h3>We Make Change</h3>

          <% if (state.error && state.hasChange) { %>
            <div class="error-message">Please enter a dollar amount</div>
          <% } %>

          <% if (!state.hasChange) { %>
            <div class="error-message"></div>
          <% } %>

          <% if (!state.error && state.hasChange) { %>
            <div class="change-message">
              We can make change for <%= state.total %> with <%= state.nickels %> nickels and <%= state.pennies %> pennies!
            </div>
          <% } %>

          <form method="post" action="/change">
            <div class="h-row">
              <div class="change-label">Amount in USD: $</div>
              <input class="change-input" name="amount" value="0.00" />
              <input class="change-submit" type="submit" value="Make Change" />
            </div>
          </form>
        </div>
      </div>
    </div>
</body>
</html>
